name: Check and Test
on:
  pull_request:
  push:
    branches:
      - $default-branch

jobs:
  build:
    strategy:
      matrix:
        os: [macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: install
        run: |
          curl -fsSL https://cli.moonbitlang.com/install/unix.sh | bash
          echo "$HOME/.moon/bin" >> $GITHUB_PATH

      - name: post install
        run: |
          moon version --all
          moon update

      - name: moon check
        run: |
          moon check --target native

      - name: moon test
        run: |
          moon test --target native

      - name: lint
        run: |
          moon fmt && git diff --exit-code
          moon info && git diff --exit-code

      - name: build wasmoon
        run: |
          moon build --target native
          ./install.sh

      - name: install wasm-tools
        run: |
          brew install wasm-tools
          wasm-tools --version

      - name: run component-spec subset
        timeout-minutes: 5
        run: |
          python3 scripts/run_component_wast.py --dir component-spec --rec

      - name: run wast spec tests
        timeout-minutes: 5
        run: |
          python3 scripts/run_all_wast.py --dir spec --rec
